* {
    background-color: lightblue;
}

.grid {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(32, 1em);
    grid-template-rows: repeat(32, 1em);
    justify-content: center;
}

.square {
    height: 1em;
    width: 1em;
    border: thin solid black;
    background: white;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.reset button {
    background: pink;
    border: thin solid black;
    padding: 10px;
}

.reset button:hover {
    cursor: pointer;
    opacity: 70%;
}